<%= render 'shared/error_messages' %>

<div class="form-group">
	<%= f.label :name, class: "control-label" %>
	<%= f.text_field :name, class: 'form-control', required: true %>
  <p class="help-block"></p>
</div>

<div class="form-group">
	<%= f.label :firstname, class: "control-label" %>
	<%= f.text_field :firstname, class: 'form-control', required: true %>
  <p class="help-block"></p>
</div>

<div class="form-group">
	<%= f.label :email, class: "control-label" %>
	<%= f.email_field :email, class: 'form-control', required: true %>
  <p class="help-block"></p>
</div>

<div class="form-group">
	<%= f.label :password, class: "control-label" %>
	<%= f.password_field :password, class: 'form-control', minlength: "8", required: true %>
  <p class="help-block"></p>
</div>

<div class="form-group">
	<%= f.label :password_confirmation, "Confirmation", class: "control-label" %>
	<%= f.password_field :password_confirmation, class: 'form-control', data: { "validation-match-match" => "#{f.object_name}[#{:password}]"}, minlength: "8", required: true %>
  <p class="help-block"></p>
</div>
