<%-# Adding js and css needed declaration to header -%>
<% content_for :head_css_includes do %>
<%= stylesheet_link_tag "home", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :head_js_includes do %>
<META HTTP-EQUIV="Refresh" CONTENT="120;"> 
<% end %>

<% content_for :head_title do %>
Home
<% end %>

<section class="row">
  <div class="sec_header col-md-12">
    <h2>Acceuil</h2>
  </div>

  <%= render 'layouts/flash' %>
  <div class="sec_content col-md-12">
    <div class="row">
      <div class="col-md-12">
        <% if !@unavailable_sensors.empty? %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <strong>Warning! Certains capteur sont inactifs: </strong>
            <ul>
              <% @unavailable_sensors.each do |sensor| %>
                <li>
                  <td><%= sensor.room.name %>: </td>
                  <td> <%= sensor.name %> </td>
                </li>
              <% end %>
            </ul>
            Pensez à vérifier les piles des capteurs concernés par cette alerte
          </div>
        <% end %>
      

        <% if !@new_sensors.empty? %>
          <div class="alert alert-info">
            <div class="col-xs-offset-5">
              <a href="/sensors/list">
                <button type="button" class="btn btn-info">
                  <strong>Nouveaux Capteurs détéctés</strong>
                </button>
              </a>
	      </br></br>
            </div>
          </div>
        <% end %>
      </div>
    </div>



    <div class="row">
      <div class="col-md-<%= @temp.length<3 ? 6:7 %>">
        <div class="grid_tile clearfix">
          <h1>Température</h1>
          <div style="width:<%= @temp.length*200 %>px; margin-left:auto; margin-right:auto;">
            <% @temp.each do |temp| %>
              <input type='text' name='temp' value='<%= temp.typename %>' class='temp' data-min='<%= temp.min %>' data-max='<%= temp.max %>' data-avg='<%= temp.avg %>' data-curin='<%= temp.curin %>' data-curout='<%= temp.curout %>' data-color='#33cc00' data-taille='125' style="margin-left:auto; margin-right:auto;" /> 
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-<%= @temp.length<2 ? 6:5 %>">
        <div class="grid_tile clearfix">
          <h1>Consommation</h1>
          <% if @conso %>
            <div style="width:250px; margin-left:auto; margin-right:auto;">
              <input type='text' name='conso' value='<%= @conso.cum %>' class='conso' data-min='<%= @conso.min %>' data-max='<%= @conso.max %>' data-cur='<%= @conso.cur %>' data-cum='<%= @conso.cum %>' data-color='#33cc00' data-taille='100' style="margin-left:auto; margin-right:auto;" />
            </div>
          <% else %>
            <div style="width:250px; margin-left:auto; margin-right:auto;">
              <input type='text' name='conso' value=0 class='conso' data-min=0 data-max=0 data-cur=0 data-cum=0 data-color='#33cc00' data-taille='100' style="margin-left:auto; margin-right:auto;" />
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <% @stats.each_slice(3) do |s_daily_stats| %>
      <div class="row">
        <% s_daily_stats.each do |daily_stats| %>
        <div class="col-md-4">
          <div class="grid_tile clearfix">
            <h1><%= daily_stats.typename %></h1>
            <div style="width:250px; margin-left:auto; margin-right:auto;">
              <input type='text' name='compteur' value='<%= daily_stats.curin %>' class='compteur' data-type='<%= daily_stats.typename %>' data-min='<%= daily_stats.min %>' data-max='<%= daily_stats.max %>' data-avg='<%= daily_stats.avg %>' data-curin='<%= daily_stats.curin %>' data-curout='<%= daily_stats.curout %>' data-='false' data-color='#33cc00' data-taille='100' />
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>

    <%= javascript_include_tag "home_conso","home_temp","home_other_type", "data-turbolinks-track" => false %>
    
  </div>
</section>
