<%-# Adding js and css needed declaration to header -%>
<% content_for :head_css_includes do %>
<%= stylesheet_link_tag "daterangepicker-bs3", "morris", "bootstrap-multiselect", media: "all" %>  
<% end %>

<% content_for :head_js_includes do %>
<%= javascript_include_tag "moment.min", "daterangepicker", "bootstrap-multiselect", "raphael-min", "morris" %>
<% end %>

<% content_for :head_title do %>
Home
<% end %>



<section class="row">
  <div class="sec_header col-md-12 row">
    <h2 class="col-md-8">Home</h2>
  </div>
</section>

<section>
  <article>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
      <strong>Warning! Certains capteur ne sont inactifs: </strong>
      <ul>
	<% @unavailable_sensors.each do |sensor| %>
	<li>
	  <td><%= sensor.room.name %>: </td>
	  <td> <%= sensor.name %> </td>
	</li>
	<% end %>
      </ul>
      Pensez à vérifier les piles des capteurs concernés par cette alerte
    </div>
  </article>


  <article>	  
    <td><br>Temperature minimale de la journée dans votre maison: <%= @min_temp %> &deg;C</td>
    <td><br>Temperature maximale de la journée dans votre maison: <%= @max_temp %> &deg;C</td>
    <td><br>Temperature moyenne de la journée dans votre maison: <%= @avg_temp %> &deg;C</td>
    <td><br>Temperature actuelle dans votre maison: <%= @current_temp %> &deg;C<br></td>
    
    <td><br>Pression minimale de la journée dans votre maison: <%= @min_press %> Pa</td>
    <td><br>Pression maximale de la journée dans votre maison: <%= @max_press %> Pa</td>
    <td><br>Pression moyenne de la journée dans votre maison: <%= @avg_press %> Pa</td>
    <td><br>Pression actuelle dans votre maison: <%= @current_press %> Pa<br></td>
  </article>

</section>
</section>
