<%-# Adding js and css needed declaration to header -%>
<% content_for :head_css_includes do %>
<%= stylesheet_link_tag "daterangepicker-bs3", "morris", "bootstrap-multiselect", media: "all" %>  
<% end %>

<% content_for :head_js_includes do %>
<%= javascript_include_tag "moment.min", "daterangepicker", "bootstrap-multiselect", "raphael-min", "morris" %>
<% end %>

<% content_for :head_title do %>
Home
<% end %>



<section class="row">
  <div class="sec_header col-md-12 row">
    <h2 class="col-md-8">Home</h2>
  </div>
  <section>
    <!-- <p id="currenttemp"></p> -->
      <tbody>    
	<article>	  
	 <td>temperature actuelle: <%= @current_temp %></td>
	    <tbody>
	      <% @rooms.each do |room| %>
	      <tr>
		<table>
		  <tr>
		    <td><%= room.name %></td>
		  </tr>
		  <% room.sensors.each do |sensor| %>
		  <tr>
		    <td> <%= sensor.name %> </td>
		    <a id="availability"></a>
		  </tr>
		  <% end %>
		</table>
	      </tr>
	      <% end %>
	    </tbody>
	</article>
  </section>
</div>
</section>
