<% content_for :head_js_includes do %>
    <%= javascript_include_tag "actuators", "data-turbolinks-track" => false %>
<% end %>

<% if @actuator.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger ">
	    	The form contains <%= pluralize(@actuator.errors.count, "error") %>.
	    </div>
	    <ul>
	    <% @actuator.errors.full_messages.each do |msg| %>
	    	<li>* <%= msg %></li>
	    <% end %>
	    </ul>
	</div>
<% end %>

<div class="field">
	<%= f.label :name, "Nom" %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :frequency, "Fréquence" %>
	<%= f.text_field :frequency %>
</div>
<div class="field">
	<%= f.label :actuator_id, "Type" %>
	<%= collection_select(:actuators_data_types, :data_type_id, DataType.find(:all), :id, :name) %>
</div>
<div class="field">
	<%= f.label :modulation_id, "Modulation" %>
	<%= collection_select(:actuator, :modulation_id, Modulation.find(:all), :id, :name) %>
</div>
<div class="field">
	<%= f.label :room_id, "Pièce" %>
	<%= collection_select(:actuator, :room_id, Room.find(:all), :id, :name) %>
</div>
<div class="field">
	<div id="button_edit"><%= f.check_box :activated %></div>
</div>
