<% content_for :head_css_includes do %>
	<%= stylesheet_link_tag "actuators", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :head_js_includes do %>
    <%= javascript_include_tag "actuators", "data-turbolinks-track" => false %>
<% end %>

<% provide(:head_title, "Modification actionneur #{@actuator.name}") %>

<h1>Mettre à jour l'actionneur</h1>

<%= form_for(@actuator) do |f| %>
	<%= render 'fields', f: f %>
	<%= f.submit "Enregistrer", class: "btn btn-large btn-success" %>
<% end %>
