<%= form_for @sensor, remote: true, html: {class: "form-horizontal", novalidate: true} do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control", required: true %>
      <p class="help-block"></p>
    </div>
  </div>

  <% if !@sensor.detail %>
    <div class="form-group">
      <%= f.label :room_id, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= collection_select(:sensor, :room_id, Room.find(:all), :id, :name, {}, {class: "form-control", required: true}) %>
        <p class="help-block"></p>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :type, class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= collection_select(:sensor, :data_type_ids, DataType.find(:all), :id, :name, {:selected => @sensor.data_type_ids}, {:multiple => true, class: "form-control", required: true}) %>
        <p class="help-block"></p>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :room_id, class: "col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= collection_select(:sensor, :room_id, Room.find(:all), :id, :name, {}, {class: "form-control", required: true}) %>
      <p class="help-block"></p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
