<%= form_for(@sensor) do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :frequency %>
    <%= f.text_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :sensor_id %>
    <%= collection_select(:sensors_data_types, :data_type_id, DataType.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :modulation_id %>
    <%= collection_select(:sensor, :modulation_id, Modulation.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :room_id %>
    <%= collection_select(:sensor, :room_id, Room.find(:all), :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
