<% content_for :head_title do %>
  Capteur
<% end %>

<section class="row">
	<%= render 'layouts/flash' %>
	<div class="sec_content col-md-12">
		<div style="background-color: #FFF; padding: 15px;">
      <p>
  		  <strong>Nom :</strong>
  		  <%= @sensor.name %>
  		</p>
  		<p>
  		  <strong>Fréquence :</strong>
  		  <%= @sensor.frequency %>
  		</p>
  		<p>
  		  <strong>Modulation :</strong>
  		  <%= @sensor.modulation.name if @sensor.modulation %>
  		</p>
  		<p>
  		  <strong>Pièce :</strong>
  		  <%= @sensor.room.name if @sensor.room %>
  		  
  		</p>

  		<%= link_to 'Retour', sensors_url, class: "btn btn-large btn-success" %> 
          <% if current_user.admin? %> 
              <%= link_to 'Modification', edit_sensor_path(@sensor), class: "btn btn-large btn-primary" %>
              <%= link_to "Supprimer", @sensor, method: :delete, data: { confirm: "Etes vous certain de vouloir supprimer le capteur?" }, class: "btn btn-large btn-danger" %>
          <% end %>
    </div>
	</div>
</section>