<section class="row">
	<div class="col-md-12">
    <%= render 'layouts/flash' %>
		<div style="background-color: #FFF; padding: 15px;">
      <p>
  		  <strong>Nom :</strong>
  		  <%= @sensor.name %>
  		</p>
  		<p>
  		  <strong>Fréquence :</strong>
  		  <%= @sensor.frequency %>
  		</p>
  		<p>
  		  <strong>Modulation :</strong>
  		  <%= @sensor.modulation.name if @sensor.modulation %>
  		</p>
      <p>
        <strong>Type(s) de données :</strong>
        <ul>
        <% @sensor.data_types.each do |data_type| %>
          <li><%= data_type.name %></li>
        <% end %>
      </ul>
      </p>
  		<p>
  		  <strong>Pièce :</strong>
  		  <%= @sensor.room.name if @sensor.room %>
  		  
  		</p>
    </div>
	</div>
</section>