<% content_for :head_css_includes do %>
    <%= stylesheet_link_tag "sensors", media: "all", "data-turbolinks-track" => true %>
<% end %>

<% content_for :head_js_includes do %>
    <%= javascript_include_tag "sensors", "data-turbolinks-track" => true %>
<% end %>

<% content_for :head_title do %>
  Capteurs
<% end %>



<section class="row">
  <div class="sec_header col-md-12 row">
    <h2 class="col-md-8">Relev&eacute de temp&eacuterature</h2>
    <div class="col-md-4" style="padding-right: 45px;">
      <div id="reportrange" class="2pull-right">
        <i class="glyphicon glyphicon-calendar"></i>
        <span>December 5, 2013 - January 4, 2014</span>
        <b class="caret"></b>
      </div>
    </div>
  </div>
  <div class="sec_content col-md-12">
    <div class="row">
      <div id="temp_chart" class="col-md-8"></div>
      <div class="col-md-4">
        <select class="multiselect" multiple="multiple">
          <option value="1">Capteur 1</option>
          <option value="2">Capteur 2</option>
          <option value="3">Capteur 3</option>
        </select>
      </div>
    </div>
  </div>
</section>

<!-- <table>
  <thead>
    <tr>
      <th>Frequency</th>
      <th>Name</th>
      <th>Modulation</th>
      <th>Room</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.frequency %></td>
        <td><%= sensor.name %></td>
        <td><%= sensor.modulation %></td>
        <td><%= sensor.room %></td>
        <td><%= link_to 'Show', sensor %></td>
        <td><%= link_to 'Edit', edit_sensor_path(sensor) %></td>
        <td><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor', new_sensor_path %> -->
