<% content_for :head_title do %>
  Capteurs
<% end %>

<section class="row">
  <div class="sec_header col-md-12">
    <h2>Liste des capteurs</h2>
  </div>
  <%= render 'layouts/flash' %>
  <div class="sec_content col-md-12">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
        <% @sensors.each do |sensor| %>
          <div class="col-xs-12">
            <%= link_to "#{sensor.id}-#{sensor.data_type_id}", :remote => true do %>
            <div style="background-color: #FFF; margin-bottom: 15px; padding: 15px;"> 
              <span><%= sensor.name %></span>
              <span><%= sensor.room.name if sensor.room %></span>
            </div>  
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
      <div id="ajax_content" class="col-md-8">
      </div>
    </div>


    <!-- <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Frequency</th>
          <th>Modulation</th>
          <th>Room</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @sensors.each do |sensor| %>
          <tr>
            <td><%= sensor.name %></td>
            <td><%= sensor.frequency %></td>
            <td><%= sensor.modulation.name if sensor.modulation %></td>
            <td><%= sensor.room.name if sensor.room %></td>
            <td><%= link_to 'Show', sensor %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <%= link_to 'New Sensor', new_sensor_path %> -->  
  </div>
</section>
