<% content_for :head_title do %>
  Capteur
<% end %>

<section class="row">
	<div class="sec_header col-md-12">
		<h2>Detail du capteur</h2>
	</div>
	<div class="sec_content col-md-12">
		<p>
		  <strong>Nom :</strong>
		  <%= @sensor.name %>
		</p>
		<p>
		  <strong>Fréquence :</strong>
		  <%= @sensor.frequency %>
		</p>
		<p>
		  <strong>Modulation :</strong>
		  <%= @sensor.modulation.name if @sensor.modulation %>
		</p>
		<p>
		  <strong>Pièce :</strong>
		  <%= @sensor.room.name if @sensor.room %>
		  
		</p>
		<%= link_to 'Modification', edit_sensor_path(@sensor) %>
		<%= link_to 'Retour', sensors_list_path %> 
	</div>
</section>