<!DOCTYPE html>
<html>
<head>
  <title>Ecobox - <%= yield :head_title %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :head_css_includes %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :head_js_includes %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="foreground">
  <header class="row zindex-header">
    <div id="logo" class="col-sm-2 visible-sm visible-md visible-lg"><h3>Ecobox</h3></div>
    <div id="right_header" class="col-sm-10 zindex-settings bg-color">
      <div id="logout" class="zindex-settings">
        <span id="logout-icon" class="icon-switch"></span>
        <span id="logout-text" class="visible-xs">Logout</span>
      </div>
      <div id="user_settings">
        <p class="clear" style="width: 0;"></p>
        <span id="gear-icon" class="icon-cog visible-sm visible-md visible-lg"></span>
        <div id="user-icon-container">
			<div id="user-icon-circle">
            <div id="user-container-layer"></div>
            <span id="user-icon" class="icon-user"></span>
			</div>
				<div id="user-down-arrow"  class="dropdown">
					<a data-toggle="dropdown" href="#">
						<span class="down_arrow visible-sm visible-md visible-lg"></span>
					</a>
					<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">

					<% if signed_in? %>		
						<li><%= link_to "Profil", current_user %></li>
						<li><%= link_to "Paramètres", '#'%></li>
						<li><%= link_to "Déconnexion", signout_path, method: "delete" %></li>

					<% else %>
						<li><%= link_to "Se connecter", signin_path %></li>
						<li><%= link_to "S'inscrire", signup_path %></li>
					<% end %>
					</ul>
				</div>
        </div>
        <span id="username" class="visible-xs">Username</span>
      </div>
    </div>
  </header>
  <div class="separator"></div>
  <p class="clear"></p>
  <div class="row">
    <nav class="col-xs-2 zindex-left">
      <ul>
        <li class="row">
          <div class="arrow right_arrow"></div>
          <%= link_to 'index.html', :title => "Some link", :class => "col-md-12" do %>
            <span class="li-icon icon-home col-xs-12 col-md-6"></span>
            <p class="li-title col-xs-12 col-md-6">Accueil</p>
          <% end %>
        </li>
        <li class="active row">
          <div class="arrow right_arrow"></div>
          <%= link_to :sensors, :title => "Capteurs", :class => "col-md-12" do %>
            <span class="li-icon icon-themo-01 col-xs-12 col-md-6"></span>
            <p class="li-title col-xs-12 col-md-6">Capteurs</p>
          <% end %>
        </li>
		
      </ul>
    </nav>
  </div>
  </div>

  <div class="row" style="overflow: hidden;">
  <div class="col-sm-2 visible-sm"></div> 
  <div id="wrap" class="col-sm-10">
  <header class="row">
    <div id="logo" class="col-sm-2 visible-xs">
      <span id="menu-switch" class="icon-menu2 zindex-left"></span>
      <h3>Ecobox</h3></div>
    <div id="right_header" class="col-sm-10">
      <div id="head_title"><h1><%= (yield :head_title).mb_chars.upcase.to_s %></h1></div>
    </div>
  </header>
  <div class="separator"></div>
  <p class="clear"></p>
  <div class="row">
    <div id="content" class="col-xs-12 zindex-content">

      <!-- flash -->
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      
      <%= yield %>
    </div>

  </div>
    <div class="container">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>

  <footer class="row col-sm-12"></footer>
  </div>

</body>
</html>
